<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>
<body>

<h1>FDA Search</h1>
<h2>Specify search criteria:</h2>
<form action="" method="post">
    <div class="form-group">
        <label for="tradename">Trade name:</label><br>
        <input type="text" class="form-control" id="tradename" name="tradename"><br>
    </div>
    <div class="form-group">
        <label for="ingredient">Ingredient:</label><br>
        <input type="text" class="form-control" id="ingredient" name="ingredient">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
</form>
<% if (drugList && drugList.length) { %>
    <h2>Search results:</h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Trade Name</th>
            <th scope="col">Dosage Form</th>
            <th scope="col">Route</th>
            <th scope="col">Applicant</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Strength</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < drugList.length; i++) { %>
            <tr>
                <td><%= drugList[i].tradeName %></td>
                <td><%= drugList[i].dosageForm.dosageForm %></td>
                <td><%= drugList[i].route.route %></td>
                <td><%= drugList[i].applicant.applicantFullName %></td>
                <% for (let j = 0; j < drugList[i].productIngredients.length; j++) { %>
                    <% if (j > 0) { %>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% } %>
                    <td><%= drugList[i].productIngredients[j].ingredient.ingredient %></td>
                    <td><%= drugList[i].productIngredients[j].strength %></td>
                </tr>
                <% } %>
        <% } %>
        </tbody>
    </table>
<% } %>
</body>
</html>
